$highlight-color: #E65252;
$axis-font-family: 'Helvetica-neue', sans-serif;

/*----------------*
 *** CHOROPLETH ***
 *----------------*/
 
#choropleth {
  .state {
    stroke: #666;
    stroke-width: 0.5;  
    
    &.highlighted {
      stroke: $highlight-color;
      stroke-width: 4;
    }
    
    &:hover {
      cursor: pointer;
    }
  }
  
  .key-rect {
    stroke: #666;
    stroke-width: 0.5;
  }
}

.key {
  .key-label {
    font-family: $axis-font-family;    
    font-weight: lighter;
  }
  
  .key-title {
    fill: #333;
    font-weight: bold;
  }
}