/* fonts */
$factor-button-font: 'Helvetica-neue', sans-serif;
/* colors */
$death-color:  #54278F;
$death-light-color: #756BB1;
$factor-color: #23A923;
$factor-light-color: #6CD16C;
$highlight-color: #E65252;

/*-------------------------*
 *** SCATTERPLOT OPTIONS ***
 *-------------------------*/
 
/* CONTROLS */
.viz-controls {
  background-color: #eee;  
  padding: 10px;
  margin-top: 5px;
  
  .btn.btn-factor {
    font-family: $factor-button-font;
    font-weight: bold;
    font-size: 8pt;
    background-color: white;
    border: 1px solid $factor-color;
    color: $factor-color;  
    
    &.active, &:active, &:focus, &.active:focus {
      box-shadow: none;
      outline: none;  
    }
    
    &.active, &.active:hover {
      background-color: $factor-color;
      color: white;
    }
    
    &:hover {
      background-color: $factor-color;
      color: white;
    }
  }
}

/*-----------------*
 *** SCATTERPLOT ***
 *-----------------*/

/* SCATTERPLOT */
#scatterplot {
  .best-fit {
    stroke-width: 3px;
    stroke: $factor-color;
    
    &.highlighted {
      stroke-width: 6px;
      stroke: $factor-light-color;
    }
  }
  
  circle.dot {
    stroke: #999;
    stroke-width: 0.5;
    
    &.highlighted {
      stroke: $highlight-color;
      stroke-width: 4;
    }
  }
  
  .factor {
    fill: $factor-color;
  }

  .death_rate {
    fill: $death-color;
  }
} 
 
/*-------------*
 *** BFL TIP ***
 *-------------*/

.tip-factor {
  color: $factor-light-color;
}

.tip-death-rate {
  color: $death-light-color;
}