$death-color:  #54278F;
$death-light-color: #756BB1;
$factor-color: #23A923;
$factor-light-color: #6CD16C;

#year-slider {
  margin-top: 10px;  
  
  .dual:hover {
    cursor: pointer;
  }  
  
  .axis-label {
    font-weight: bold;
  }
  .top {
    fill: #54278F;
    circle:hover {
      fill: #756BB1;
    }
  }
  
  .bottom {
    fill: #23A923;
    circle:hover {
      fill: #6CD16C;
    }
  }
  
  circle {
    stroke-width: 1px;
    stroke: #fff;  
    
    &:hover {
      cursor: pointer;  
    }
  }
  
  .years {
    text {
      font-family: 'Helvetica-neue', sans-serif;
      font-size: 8pt;
      pointer-events: none;
    }
  }
  
  .question {
    font-family: 'FontAwesome';
    &:hover {
      cursor: pointer;
    }  
  }
}

#slider-modal {
  .factor {
    color: white;
    background-color: $factor-color;  
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .death_rate {
    color: white;
    background-color: $death-color;
    padding-left: 2px;
    padding-right: 2px;
  }
}
